* {
    max-width: 100%;
    margin: 15px;
    padding: 0;
}

/* header changes */
header {
    border: .5em solid var(--primary_color);
    background-color: var(--secondary_color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "shirkhand", sans-serif;
    text-decoration: none;
}

#page-header {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid var(--primary_color)
}

/* variables */
:root {
    --primary_color: #14384D;
    --secondary_color: #c0d6ee;
    --accent1_color: #F8B5B4;
    --accent2_color: white;
}

/* headings & paragraphs */
h2 {
    color: var(--primary_color);
    text-align: center;
    font-size: 30px;
    font-family: "shirkhand", sans-serif;
}

/* hero positioning */
.hero {
    position: relative;
    width: 95%;
}

#background-image {
    width: 100%;
    /* Make sure it covers the container */
    height: 100%;
    object-fit: cover;

}

h1 {
    position: absolute;
    top: 1em;
    left: 7.5em;
    justify-content: center;
    color: var(--accent2_color);
}

.overlay {
    position: absolute;
    background-color: var(--secondary_color);
    top: 5em;
    /* Position it at the top of the container */
    left: 5em;
    /* Position it at the left of the container */
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
    text-align: center;
    /* Centers the text */
    color: var(--primary_color);
    border: .5em solid var(--primary_color);
}

.overlay p {
    margin-right: 20px;
    /* Adds space between text and image */
    max-width: 70%;
    /* Controls the width of the paragraph */
    padding: 1em;
}

.overlay img {
    position: absolute;
    right: 0;
    top: 3em;
    max-width: 100px;
    height: auto;
    border: .2em solid var(--primary_color)
}


/*history section*/
section.history {
    border: .5em solid var(--primary_color);
    background-color: var(--secondary_color)
}

#rafting-history {
    color: var(--primary_color);
    text-align: center;
    padding: 30px;

}

/* adventure awaits section*/
section.adventure {
    border: .5em solid var(--primary_color);
    background-color: var(--secondary_color);
}

div.rafts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5em;
}

figure {
    color: var(--primary_color);
    font-family: "albert+sans", sans-serif;
    font-size: .8rem;
    text-align: center;
}

/* footer section */
footer {
    border: .5em solid var(--primary_color);
    background-color: var(--secondary_color);
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "albert+sans", sans-serif;
}