:root {
    background-color: rgb(5, 62, 36);
    border: 1px solid black;
    text-align: center;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 40em;
    margin: 1em;
    border: var(--border);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: white;
    text-align: var(--center);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5em;
    border-top: var(--border);
    text-align: var(--center);
}