nav {
    background-color: rgb(5, 62, 36);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(5, 62, 36);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 40em;
    margin: 1em;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1rem;
    background-color: rgb(5, 62, 36);
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5em;
    border-top: 1px solid black;
    text-align: center;
}